[Unit]
Description=ESP Home
After=network.target

[Service]
Type=simple
User={{ esphome_user }}
WorkingDirectory={{ esphome_conf_dir }}
ExecStart={{ esphome_conf_dir }}/bin/esphome dashboard {% if esphome_ui_user is defined and esphome_ui_password is defined %}--username '{{ esphome_ui_user  }}' --password '{{ esphome_ui_password }}' {% endif%}/home/{{ esphome_user }}/esphome/config/
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

[Service]
Environment=PATH={{ esphome_conf_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
