[submodule "roles/homeassistant"]
	path = roles/homeassistant
	url = git@github.com:JanLeshy/ansible-role-homeassistant.git
[submodule "roles/esphome"]
	path = roles/esphome
	url = git@github.com:JanLeshy/ansible-role-esphome.git
