
[submodule "roles/homesassistant"]
	path = roles/homesassistant
	url = git@github.com:JanLeshy/ansible-role-homeassistant.git
	branch = main
[submodule "roles/esphome"]
	path = roles/esphome
	url = git@github.com:JanLeshy/ansible-role-esphome.git
	branch = main
