---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install specific packages
  ansible.builtin.package:
    name:
      - python3
      - python3-venv
      - python3-pip    
    state: present
