[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User={{ ha_user }}
WorkingDirectory={{ ha_work_dir }}
ExecStart={{ ha_conf_dir }}/bin/hass --config {{ ha_work_dir }}
Restart=on-failure
RestartSec=5s
RestartForceExitStatus=100

[Install]
WantedBy=multi-user.target
